.toolbar-background {
    background-color: #f53d3d;
}

.tituloBlanco{
    color: white;
}

.fondogris{
    background-color: #C4C4C4;
}

.botonPrincipal {
    background-color: #f53d3d;
}

.score{
    font-size: 200%;
}
